body {
  background-color: black;
}

.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: bold;
}

h1 {
  font-size: 60pt;
}

h3 {
  font-size: 30pt;
}

.landingTitle {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
  width: 60%;
  transition: ease-in-out 500ms;
}

.landingTitle:hover {
  color: rgb(0, 30, 255);
  -webkit-text-stroke: 0.1px;
  -webkit-text-stroke-color: white;
}

img {
  width: auto;
  height: 100vh;
}

#mainArtwork {
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#canvas1 {
  position: ;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

p {
  position: absolute;
}
