.libre-caslon {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
}

.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

.staatliches-regular {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

body,
html {
  height: 100%;
}

body {
  margin-top: 40px;
  width: 100%;
  min-height: 100vh;
}

p {
  font-size: auto;
  text-align: justify;
  display: flex;
  align-content: center;
  justify-content: center;
  min-width: none;
  max-height: fit-content;
  margin: auto;
  padding: 30px;
}

a {
  color: darkblue;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
  text-decoration: none;
}

a:hover {
  color: orange;
}
