.libre-caslon {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
}

.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah";
  font-weight: 400;
  font-style: normal;
}

.staatliches-regular {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: orange;
  text-decoration: none;
  display: block;
}

.abril-fatface-regular {
  display: block;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  color: orange;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5vw;
  margin-top: 5vw;
}

body {
  font-size: 1.5rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  display: inline;
  margin-left: 80%;
  margin-bottom: 10%;
  text-decoration: none;
  color: orange;
}

.firstScroll {
  margin-top: 90%;
  margin-bottom: 90%;
  text-align: right;
}

.arrow,
.firstAnother,
.secondAnother {
  margin-bottom: 90%;
}

.secondAnother {
  text-align: right;
}

.secondArrow {
  transform: scaleX(-1);
  margin-bottom: 90%;
}

a {
  display: inline;
}
