.libre-caslon {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
}

.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah";
  font-weight: 400;
  font-style: normal;
}

.staatliches-regular {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: orange;
  text-decoration: none;
  display: block;
}

.abril-fatface-regular {
  display: block;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  color: orange;
}
/* introducing google fonts once again */

img.animated-gif {
  width: 100%;
  height: auto;
  margin: none;
}
/* allowing the image to stretch the entire page so it fills the screen fopr the user to immerse themself in the gif similar to moving image content found on the Sculpting Harmony website */
/* the gif also becomes a landmark on the page for the user to eventually scroll down into the deeper sections of the webpage analysis, and into the scrollytell */

h1,
p {
  margin: 5vw;
  margin-top: 5vw;
  font-size: 1.5rem;
}
/* setting the text elements on the pages to allow them to be more uniform for readability */
