.libre-caslon {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: royalblue;
}

.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah";
  font-weight: 400;
  font-style: normal;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5vw;
  margin-top: 5vw;
}

body {
  font-size: 1.5rem;
}

.firstScroll {
  margin-top: 90%;
  margin-bottom: 90%;
  text-align: right;
}

.arrow,
.firstAnother,
.secondAnother {
  margin-bottom: 90%;
}

.secondAnother {
  text-align: right;
}

.secondArrow {
  transform: scaleX(-1);
  margin-bottom: 90%;
}

.clickLink {
  text-decoration: none;
  display: inline;
}


